body{

    background-image: url('assets/PORTAL.webp');
    background-size: fit;
    text-align: center;
    font-family: Arial, sans-serif;

}
main{
    margin: 20px;
    padding: 20px;
    background-color: rgba(82, 82, 82, 0.8);
    border-radius: 10px;
}
nav{
    font-family: Arial, sans-serif;
    text-align: center;
}
ul{
    list-style-type: none;
    padding: 0;
}
button{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
